<?xml version="1.0" encoding="UTF-8" ?>
<paper>
<config>
  <testName>12月研修テスト</testName>
  <questionNum>15</questionNum>
  <selectNum>10</selectNum>
  <questionNumOfChapter>4,4</questionNumOfChapter>
  <selectNumOfChapter>2,3</selectNumOfChapter>
</config>
<chapters>
  <chapter name='c1'>
    <question>
      <id>1</id>
      <content></content>
      <selection answer='1'>
        <item num='1'>A</item>
        <item num='1'>B</item>
      </selection>
    </question>
  </chapter>
  <chapter name='c2'>
  </chapter>
</chapters> 
</paper>